.put-center {
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -28%;
  margin-bottom: 50px;
}
#mypage_info_table {
  width: 60%;
  font-size: 110%;
}
#mypage_info_table .user-info-key {
  width: 30%;
  text-align: center;
}
#delete_account_modal {
  background-color: #ff0039;
}
