.attendee-table {
  display: table;
  width: 80%;
  padding: 0;
  margin: 0;
  border: 2px solid #ccc;
}
.attendee-table button {
  padding: 0;
  margin: 0;
}
.attendee-table .row {
  display: table-row;
}
.attendee-table .cell {
  display: table-cell;
  border: 1px solid #ccc;
  min-width: 25%;
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
}
.attendee-table .absent .cell {
  border: 1px solid #ff0039;
  background-color: #ff0039;
  color: white;
}
.attendee-table .present .cell {
  border: 1px solid #3fb618;
  background-color: #3fb618;
  color: white;
}
