{% extends 'developer/console/layout.html' %}
{% block js %}
    {{ super() }}
{% endblock %}

{% block content %}
    <form action="{{ url_for('console.create_app') }}" method="POST">
        {{ csrf_token_form() | safe }}
        <div class="panel panel-default" style="margin-top: 10px">
            <div class="panel-body">
                <div id="error_alert" class="alert alert-danger" role="alert" style="display: none"></div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th scope="row" width="20%">앱 이름</th>
                        <td><label><input name="app_name" class="form-control input-sm" type="text" value=""/></label></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="pull-right">
                                <button id="create_btn" type="submit" class="btn btn-primary btn-sm">등록</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
    {% if is_super_user %}
    <form method="POST" action="{{ url_for('console.init_app_index') }}">
        {{ csrf_token_form() | safe }}
        <button type="submit" class="btn btn-primary btn-sm">인덱스 초기화</button>
    </form>
    {% endif %}
{% endblock %}
