{% extends 'module/lecture/detail/admin/layout.html' %}
{% block admin_content %}
<div id="grade_manager" class="lecture-admin-page">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>학생명</td>
            <td>파일</td>
            <td>평가</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>이상혁</td>
            <td>file1.docx&nbsp;
                <button class="btn btn-default btn-sm">다운로드</button>
            </td>
            <td>
                <input type="number" class="form-control">
            </td>
        </tr>
        <tr>
            <td>이상혁</td>
            <td>file1.docx&nbsp;
                <button class="btn btn-default btn-sm">다운로드</button>
            </td>
            <td>
                <input type="number" class="form-control">
            </td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}